In [1]:
%load_ext autotime
%matplotlib inline

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import re
from datetime import datetime
import time
import numpy as np
import hashlib
from joblib import Parallel, delayed
from slugify import slugify
import pickle
import os

ModuleNotFoundError: No module named 'slugify'

In [3]:
headers = "<replace with headers from logged-in session>"

headers = {head.split(':', maxsplit=1)[0]: head.split(':', maxsplit=1)[1].strip() for head in headers.split('\n')}

time: 5.79 ms

In [4]:
# cookie = '''sck=OWJRH4PX45M2PZPUU6NST2B4RKRHPGXX3HSDAHY; SEID=s3; _ga=GA1.2.1000873538.1540110277; _gid=GA1.2.203592236.1540110277; jmi_scope=23|3315; uau=PQCKKEOCRBIHIC3A4YFMBYI33LU7GGTW4M5LPLZ7TIBOE7Y4PW3Q; _gat=1; jmi_period=2018-08'''
# cookie = '''sck=LDEAYIHCEOYO5BPE4BWUDZ3ICUTODR7YJ22FWJY; SEID=s1; _ga=GA1.2.1688975569.1543245107; _gid=GA1.2.449345683.1543245107; _gat=1; uau=PUQAF7YDTPEPLGCEWFAMPD2RNYIEOCEUXA25WYDDEZ52ADHYH4HA; sa=""; jmi_scope=23|3315; jmi_period=-1; jmi_mkt=""'''
cookie = "<get from headers, looks like above.>"  # THe cookie has some variables that can be used to control the scraping behavior and the kind of data that will be available, e.g., `jmi_period`
cookie = {ck.split('=', maxsplit=1)[0]: ck.split('=', maxsplit=1)[1].strip() for ck in cookie.split('; ')}

def build_cookie(cookie):
    return '; '.join([f'{i}={j}' for i, j in cookie.items()])

time: 5.45 ms

In [5]:
headers['Cookie'] = build_cookie(cookie)

time: 3.08 ms

In [6]:
payload = '''primaryField: title
sortTable: market
scope: 23|3315
secondaryField: 
period: -12
periodCompare: 0
sortOrder: 
offset: 0
pageSize: 100
secondaryOffset: 0
category: 
company: 
location: 
title: "Encoder"^"Data Encoder"
jobType: 
salary: 
comSize: 
comType: 
hotVacancies: 
comJobBoard: 
mkt.company: 
mkt.site: 
time: 181021171805'''

payload = {pl.split(':', maxsplit=1)[0]: pl.split(':', maxsplit=1)[1].strip() for pl in payload.split('\n')}

payload = {
    'category': '',
    'comJobBoard': '',
    'comSize': '',
    'comType': '',
    'company': '',
    'hotVacancies': '',
    'jobType': '',
    'location': '',
    'mkt.company': '',
    'mkt.site': '',
    'offset': '0',
    'pageSize': '100',
    'period': '-12',  # 12 months period
    'periodCompare': '0',
    'primaryField': 'title',
    'salary': '',
    'scope': '23|3315',
    'secondaryField': '',
    'secondaryOffset': '0',
    'sortOrder': '',
    'sortTable': 'market',
    # 'time': '181021171805',
    'title': '' # '"Encoder"^"Data Encoder"'
}

time: 8.79 ms

In [7]:
def get_jobs_table(payload):
    url = 'https://www.jobmarketinsights.com/jmi-area/FullReport'

    res = requests.get(url, headers=headers, params=payload)
    b = BeautifulSoup(res.content, 'html5lib')

    table = str(b.find('table'))
    table = pd.read_html(table, skiprows=1)[0]
    table.columns = ['job_title', 'ours', 'market', 'market_share']
    table['market_count'] = table['market'].str.replace(',', '').str.replace(' .*', '').astype(int)

    return table


def get_inspect_list(job_title, jmi_period):
    inspect_payload = {'title': f'"{job_title}"'}
    
    head = headers.copy()
    cook = cookie.copy()
    cook['jmi_period'] = jmi_period
    head['Cookie'] = build_cookie(cook)

    url = 'https://www.jobmarketinsights.com/jmi-area/OfferInspectList'
    
    res = requests.get(url, headers=head, params=inspect_payload)
    b = BeautifulSoup(res.content, 'html5lib')
    
    return re.findall('push\("(.*)"\);', b.find('script').text)


def get_item_inspect_list(item):
    data = get_inspect_list(job_title=item['title'], jmi_period=item['period'])
    item['ids'] = data
    return item


def get_single(job_ids):
    single_payload = {'ids': job_ids}
    url = 'https://www.jobmarketinsights.com/jmi-area/OfferInspectSingle'

    res = requests.get(url, headers=headers, params=single_payload)
    b = BeautifulSoup(res.content, 'html5lib')

    return b

time: 43.6 ms

# Get jobs with at least 5 items in 12 months

In [8]:
full_table = pd.DataFrame()
inspect_list_info = []
MIN_MARKET_COUNT = 1
MAX_OFFSET = 500000

# popular_titles = []
last_offset = 0
page_size = 100
payload['pageSize'] = page_size
payload['title'] = ''

payload['period'] = '-12'

for offset in range(0, MAX_OFFSET + page_size, page_size):
    if offset and offset % 10000 == 0:
        print(f'Offset: {offset}')
        full_table.to_csv(f'jobs-full-report_period-{payload["period"]}_date-{datetime.now().date()}.csv', index=False)

    payload['offset'] = offset

    try:
        table = get_jobs_table(payload)
    except AttributeError:
        break

    popular = table[table.market_count >= MIN_MARKET_COUNT]
    # popular_titles.extend(popular.job_title.map(lambda x: f'"{x}"').tolist())

    if full_table.empty:
        full_table = table
    else:
        full_table = pd.concat([full_table, table])

    if popular.empty:
        break
        
    last_offset = offset

    time.sleep(min(np.random.exponential(1), 1.5))
    
full_table.to_csv(f'jobs-full-report_period-{payload["period"]}_date-{datetime.now().date()}.csv', index=False)

for row, item in full_table[full_table.market_count <= 500].iterrows():
    inspect_list_info.append({
        'title': item['job_title'],
        'count': item['market_count'],
        'comSize': '',
        'period': payload['period'],
    })

Offset: 10000
Offset: 20000
Offset: 30000
Offset: 40000
Offset: 50000
Offset: 60000
Offset: 70000
Offset: 80000
Offset: 90000
Offset: 100000
Offset: 110000
Offset: 120000
Offset: 130000
Offset: 140000
Offset: 150000
Offset: 160000
Offset: 170000
Offset: 180000
Offset: 190000
Offset: 200000
Offset: 210000
Offset: 220000
Offset: 230000
Offset: 240000
Offset: 250000
Offset: 260000
Offset: 270000
Offset: 280000
Offset: 290000
Offset: 300000
Offset: 310000
Offset: 330000
Offset: 340000
Offset: 350000
Offset: 360000
Offset: 370000
Offset: 380000
Offset: 390000
Offset: 400000
Offset: 410000
time: 3h 27min 59s

In [9]:
offset, last_offset

(413000, 412900)

time: 1.91 ms

In [31]:
offset, last_offset

(100, 397500)

time: 1.37 ms

In [12]:
offset, last_offset

(152400, 152400)

time: 10.4 ms

In [13]:
# for offset in range(last_offset + page_size, MAX_OFFSET + page_size, page_size):
#     if offset and offset % 10000 == 0:
#         print(f'Offset: {offset}')
#         full_table.to_csv(f'jobs-full-report_period-{payload["period"]}_date-{datetime.now().date()}.csv', index=False)

#     payload['offset'] = offset

#     try:
#         table = get_jobs_table(payload)
#     except AttributeError:
#         break

#     popular = table[table.market_count >= MIN_MARKET_COUNT]
#     # popular_titles.extend(popular.job_title.map(lambda x: f'"{x}"').tolist())

#     if full_table.empty:
#         full_table = table
#     else:
#         full_table = pd.concat([full_table, table])

#     if popular.empty:
#         break
        
#     last_offset = offset

#     time.sleep(min(np.random.exponential(1), 1.5))
    
# full_table.to_csv(f'jobs-full-report_period-{payload["period"]}_date-{datetime.now().date()}.csv', index=False)

# for row, item in full_table[full_table.market_count <= 500].iterrows():
#     inspect_list_info.append({
#         'title': item['job_title'],
#         'count': item['market_count'],
#         'comSize': '',
#         'period': payload['period'],
#     })

Offset: 160000
Offset: 170000
Offset: 180000
Offset: 190000
Offset: 200000
Offset: 210000
Offset: 220000
Offset: 230000
Offset: 240000
Offset: 250000
Offset: 260000
Offset: 270000
Offset: 280000
Offset: 290000
Offset: 300000
Offset: 310000
Offset: 320000
Offset: 330000
Offset: 340000
Offset: 350000
Offset: 360000
Offset: 370000
time: 1h 26min 54s

# Process for all titles greater than 500

In [10]:
print(len(inspect_list_info))

412825
time: 9.82 ms

In [32]:
print(len(inspect_list_info))

398294
time: 973 µs

In [14]:
print(len(inspect_list_info))

379152
time: 510 µs

In [11]:
# inspect_list_info = []

# for row, item in full_table[full_table.market_count <= 500].iterrows():
#     inspect_list_info.append({
#         'title': item['job_title'],
#         'count': item['market_count'],
#         'comSize': '',
#         'period': '-12',
#     })
    
# len(inspect_list_info)

time: 8.38 ms

In [12]:
popular_titles = full_table[full_table.market_count > 500].job_title.map(lambda x: f'"{x}"').tolist()

time: 9.88 ms

In [13]:
len(popular_titles)

158

time: 16.5 ms

In [33]:
len(popular_titles)

148

time: 5.08 ms

For jobs with more than 500 posts in 12 months, increase granularity by using Quarterly jmi_period.

In [14]:
quarterly_periods = {
    # 'Q4.2017': ['2017-10', '2017-11', '2017-12'],
    'Q1.2018': ['2018-01', '2018-02', '2018-03'],
    'Q2.2018': ['2018-04', '2018-05', '2018-06'],
    'Q3.2018': ['2018-07', '2018-08', '2018-09'],
    'Q4.2018': ['2018-10', '2018-11', '2018-12'],
    'Q1.2019': ['2019-01', '2019-02', '2019-03'],
}

time: 11.9 ms

In [15]:
for period in quarterly_periods:
    payload['title'] = '^'.join(popular_titles)
    payload['offset'] = 0
    payload['period'] = period

    quarterly_full_table = pd.DataFrame()
    
    for offset in range(0, len(popular_titles) + 100, 100):
        payload['offset'] = offset

        print(f'{period}: {offset}')

        payload['offset'] = offset

        try:
            table = get_jobs_table(payload)
        except:
            break

        if quarterly_full_table.empty:
            quarterly_full_table = table
        else:
            quarterly_full_table = pd.concat([quarterly_full_table, table])

        time.sleep(min(np.random.exponential(1), 1.5))
        
    quarterly_popular_title = quarterly_full_table[quarterly_full_table.market_count > 500].job_title.map(lambda x: f'"{x}"').tolist()
    for row, item in quarterly_full_table[quarterly_full_table.market_count <= 500].iterrows():
        inspect_list_info.insert(0, {
            'title': item['job_title'],
            'count': item['market_count'],
            'comSize': '',
            'period': period,
        })

    for monthly_period in quarterly_periods[period]:
        payload['title'] = '^'.join(quarterly_popular_title)
        payload['offset'] = 0
        payload['period'] = monthly_period

        monthly_full_table = pd.DataFrame()

        for offset in range(0, len(quarterly_popular_title) + 100, 100):
            payload['offset'] = offset

            print(f'{monthly_period}: {offset}')

            payload['offset'] = offset

            try:
                table = get_jobs_table(payload)
            except:
                break

            if monthly_full_table.empty:
                monthly_full_table = table
            else:
                monthly_full_table = pd.concat([monthly_full_table, table])

            time.sleep(min(np.random.exponential(1), 1.5))

        for row, item in monthly_full_table.iterrows():
            inspect_list_info.insert(0, {
                'title': item['job_title'],
                'count': item['market_count'],
                'comSize': '',
                'period': monthly_period,
            })
        
        # NOTE: We're missing out on jobs with more than 500 postings in a month
        
print(len(inspect_list_info))

Q1.2018: 0
Q1.2018: 100
Q1.2018: 200
2018-01: 0
2018-01: 100
2018-02: 0
2018-02: 100
2018-03: 0
2018-03: 100
Q2.2018: 0
Q2.2018: 100
Q2.2018: 200
2018-04: 0
2018-04: 100
2018-05: 0
2018-05: 100
2018-06: 0
2018-06: 100
Q3.2018: 0
Q3.2018: 100
Q3.2018: 200
2018-07: 0
2018-07: 100
2018-08: 0
2018-08: 100
2018-09: 0
2018-09: 100
Q4.2018: 0
Q4.2018: 100
Q4.2018: 200
2018-10: 0
2018-10: 100
2018-11: 0
2018-11: 100
2018-12: 0
2018-12: 100
Q1.2019: 0
Q1.2019: 100
Q1.2019: 200
2019-01: 0
2019-01: 100
2019-02: 0
2019-02: 100
2019-03: 0
2019-03: 100
413853
time: 1min 44s

In [16]:
monthly_full_table.head()

,job_title,ours,market,market_share,market_count
0,Accounting Staff,14 (18.2%),"1,193 (28.5%)",1.2%,1193
1,Accounting Assistant,33 (42.9%),971 (23.2%),3.4%,971
2,Office Staff,8 (10.4%),902 (21.6%),0.9%,902
3,Sales Executive,17 (22.1%),592 (14.1%),2.9%,592
4,Customer Service Representative,5 (6.5%),526 (12.6%),1.0%,526

time: 6.33 ms

# Extract job ids

In [18]:
parallel_context = Parallel(n_jobs=200)

time: 1.14 ms

In [19]:
all_job_ids = set()
# inspect_list_info = parallel_context(delayed(get_item_inspect_list)(item) for item in inspect_list_info)
temp_inspect_list_info = []

time: 1.3 ms

In [54]:
temp_inspect_list_info[10000]

{'comSize': '',
 'count': 8,
 'ids': ['1326934661',
  '1400623221^1399935727',
  '1448814550',
  '1482660929',
  '1497661532',
  '1656965960^1654391924^1546363231',
  '1559381999',
  '1565777151^1565023390^1564661180^1564135397'],
 'period': '-12',
 'title': 'Graphic Artist / Web Developer'}

time: 3.8 ms

In [55]:
scraped_titles = set([i['title'] for i in temp_inspect_list_info])

time: 46.9 ms

In [56]:
with Parallel(n_jobs=200) as parallel_context:
    tlist_info = []
    for ix, item in enumerate(inspect_list_info):
        if ix and ix % 10000 == 0:
            print(f'Item {ix}...')
            start = time.time()
            tlist_info = parallel_context(delayed(get_item_inspect_list)(item) for item in tlist_info)
            temp_inspect_list_info.extend(tlist_info)
            
            for item in tlist_info:
                scraped_titles.add(item['title'])

            tlist_info = []
            print(f'Elapsed time: {time.time() - start} seconds...')
            
        else:
            if item['title'] not in scraped_titles:
                tlist_info.append(item)

    if tlist_info:
        print(f'Item {ix}...')
        tlist_info = parallel_context(delayed(get_item_inspect_list)(item) for item in tlist_info)
        temp_inspect_list_info.extend(tlist_info)

inspect_list_info = temp_inspect_list_info

for item in inspect_list_info:
    all_job_ids.update(item['ids'])

Item 10000...
Elapsed time: 0.00020551681518554688 seconds...
Item 20000...
Elapsed time: 6.914138793945312e-05 seconds...
Item 30000...
Elapsed time: 4.696846008300781e-05 seconds...
Item 40000...
Elapsed time: 8.916854858398438e-05 seconds...
Item 50000...
Elapsed time: 4.601478576660156e-05 seconds...
Item 60000...
Elapsed time: 5.9604644775390625e-05 seconds...
Item 70000...
Elapsed time: 4.220008850097656e-05 seconds...
Item 80000...
Elapsed time: 3.814697265625e-05 seconds...
Item 90000...
Elapsed time: 4.1961669921875e-05 seconds...
Item 100000...
Elapsed time: 4.1484832763671875e-05 seconds...
Item 110000...
Elapsed time: 4.0531158447265625e-05 seconds...
Item 120000...
Elapsed time: 4.172325134277344e-05 seconds...
Item 130000...
Elapsed time: 76.80289435386658 seconds...
Item 140000...
Elapsed time: 110.13988065719604 seconds...
Item 150000...
Elapsed time: 215.78656578063965 seconds...
Item 160000...
Elapsed time: 81.26325583457947 seconds...
Item 170000...
Elapsed time: 215.07726979255676 seconds...
Item 180000...
Elapsed time: 82.21202802658081 seconds...
Item 190000...
Elapsed time: 111.50398325920105 seconds...
Item 200000...
Elapsed time: 108.94574165344238 seconds...
Item 210000...
Elapsed time: 110.56799054145813 seconds...
Item 220000...
Elapsed time: 112.84965991973877 seconds...
Item 230000...
Elapsed time: 110.80199718475342 seconds...
Item 240000...
Elapsed time: 109.1518714427948 seconds...
Item 250000...
Elapsed time: 212.9820854663849 seconds...
Item 260000...
Elapsed time: 78.21650409698486 seconds...
Item 270000...
Elapsed time: 111.45426487922668 seconds...
Item 280000...
Elapsed time: 111.17616415023804 seconds...
Item 290000...
Elapsed time: 108.75667357444763 seconds...
Item 300000...
Elapsed time: 80.08262777328491 seconds...
Item 320000...
Elapsed time: 109.16130661964417 seconds...
Item 330000...
Elapsed time: 111.18257093429565 seconds...
Item 340000...
Elapsed time: 109.15384435653687 seconds...
Item 350000...
Elapsed time: 110.59726142883301 seconds...
Item 360000...
Elapsed time: 109.34439897537231 seconds...
Item 370000...
Elapsed time: 214.02240109443665 seconds...
Item 380000...
Elapsed time: 76.03534269332886 seconds...
Item 390000...
Elapsed time: 89.27568936347961 seconds...
Item 400000...
Elapsed time: 110.71940565109253 seconds...
Item 410000...
time: 59min 19s

In [ ]:
# all_job_ids = set()

# for ix, item in enumerate(inspect_list_info):
#     if ix and ix % 100 == 0:
#         print(f"{ix}: {len(all_job_ids)}")

#     data = get_inspect_list(job_title=item['title'], jmi_period=item['period'])
#     all_job_ids.update(data)

#     item['ids'] = data

In [57]:
len(all_job_ids)

1069587

time: 3.5 ms

In [36]:
len(all_job_ids)

1024513

time: 4.61 ms

In [21]:
len(all_job_ids)

968433

time: 5.6 ms

In [124]:
len(all_job_ids)

506573

time: 7.92 ms

In [58]:
with open(f'all_job_ids-{datetime.now().date()}.pkl', 'wb') as fl:
    pickle.dump(list(all_job_ids), fl)

with open(f'inspect_list_info-{datetime.now().date()}.pkl', 'wb') as fl:
    pickle.dump(inspect_list_info, fl)

time: 1.32 s

# Scrape jobs

In [8]:
def get_single(job_ids):
    single_payload = {'ids': job_ids}
    url = 'https://www.jobmarketinsights.com/jmi-area/OfferInspectSingle'

    res = requests.get(url, headers=headers, params=single_payload)

    return res.content


def scrape_items_to_file(item):
    downloaded = {}

    for ids, hash_ids in zip(item['ids'], item['hash_ids']):
        title = item["title"][:100]
        fname = './jmi-jobs-data/' + slugify(f'{title} {hash_ids}') + '.html'
        if os.path.isfile(fname):
            downloaded[fname.split('/')[-1]] = False
            continue

        content = get_single(ids)
        with open(fname, 'wb') as fl:
            fl.write(content)

        downloaded[fname.split('/')[-1]] = True

    return downloaded

time: 15.9 ms

In [9]:
cook = cookie.copy()
cook['jmi_period'] = '-12'
headers['Cookie'] = build_cookie(cook)

time: 2.88 ms

In [61]:
inspect_list_info_df = pd.DataFrame(inspect_list_info)
inspect_list_info_df['hash_ids'] = inspect_list_info_df.ids.map(lambda x: [hashlib.md5(i.encode('utf-8')).hexdigest() for i in x])
inspect_list_info_df['posting_count'] = inspect_list_info_df.ids.map(len)

time: 1.75 s

In [62]:
inspect_list_info_df.to_csv(f'inspect_list_info_df-{datetime.now().date()}.csv', index=False)

time: 2.05 s

In [10]:
inspect_list_info_df = pd.read_csv(f'inspect_list_info_df-{datetime.now().date()}.csv')

time: 1.12 s

/home/avsolatorio/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [12]:
inspect_list_info_df.posting_count.sum()

1121531

time: 5.34 ms

In [63]:
inspect_list_info_df.posting_count.sum()

1121531

time: 5.29 ms

In [38]:
inspect_list_info_df.posting_count.sum()

1062285

time: 10.7 ms

In [27]:
inspect_list_info_df.posting_count.sum()

993942

time: 5.76 ms

In [121]:
inspect_list_info_df.posting_count.sum()

532081

time: 8.14 ms

In [18]:
# time: 1h 22min 7s
scrape_statuses = []
with Parallel(n_jobs=200) as parallel_context:
    temp_items = []
    for row_ix, item in inspect_list_info_df.sort_values('posting_count', ascending=False).iterrows():
        if row_ix and row_ix % 10000 == 0:
            print(f'Item {row_ix}...')
            start = time.time()
            scrape_statuses.extend(parallel_context(delayed(scrape_items_to_file)(item) for item in temp_items))
            temp_items = []
            
            print(f'Elapsed time: {time.time() - start} seconds...')
        else:
            temp_items.append(item)
            
    if temp_items:
        print(f'Item {row_ix}...')
        start = time.time()
        scrape_statuses.extend(parallel_context(delayed(scrape_items_to_file)(item) for item in temp_items))
        temp_items = []

        print(f'Elapsed time: {time.time() - start} seconds...')

time: 3.64 ms

In [14]:
import multiprocessing as mp

time: 1.86 ms

In [19]:
# # time: 1h 22min 7s
# if __name__ == '__main__':
#     parallel_context = mp.Pool(processes=200)              # start 4 worker processes

#     scrape_statuses = []
#     temp_items = []

#     for row_ix, item in inspect_list_info_df.sort_values('posting_count', ascending=False).iterrows():
#         if row_ix and row_ix % 1000 == 0:
#             print(f'Item {row_ix}...')
#             start = time.time()

#             multiple_results = list(parallel_context.imap_unordered(scrape_items_to_file, temp_items))
#             scrape_statuses.extend(multiple_results)

#             temp_items = []
            
#             print(f'Elapsed time: {time.time() - start} seconds...')
#         else:
#             temp_items.append(item)
            
#     if temp_items:
#         print(f'Item {row_ix}...')
#         start = time.time()
            
#         multiple_results = list(parallel_context.imap_unordered(scrape_items_to_file, temp_items))
#         scrape_statuses.extend(multiple_results)

#         temp_items = []

#         print(f'Elapsed time: {time.time() - start} seconds...')

time: 3.07 ms

In [39]:
len(scrape_statuses)

398294

time: 3.4 ms

In [ ]:
# scrape_statuses = scrape_statuses()

In [40]:
full_table.market_count.sum()

1024044

time: 5.15 ms

In [88]:
full_table.market_count.sum()

511476

time: 6.25 ms